body {
    background: url('images/background.png');
}

.navbar {
    border-radius: 0;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

ul {
    list-style: none;
}

.article-title {
    font-size: 30px;
    color: black;
}

.lp {
    text-align: center;
    font-family: 'Satisfy', cursive;
    color: whitesmoke;
}

.form-horizontal {
    display: inline-block;
    text-align: left;
}
#article_content {
    font-size: 20px;
    color: #000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#index_content {
    font-size: 17px;
    color: #000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

div ul li a:hover {
    color: grey;
    text-decoration: none;
    transition: 0.3s;
}

div ul div a:hover {
    background-color: rgba(0, 0, 0, 0.84);
    color: ghostwhite;
    text-decoration: none;
    transition: 0.3s;
}
.read_more {
    background-color: limegreen;
    color: ghostwhite;
    float: right;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    height: 35px;
    padding-top: 8px;
    text-align: center;
    width: 100px;

}

#date_category_tag {
    font-size: 13px;
    color: slategrey;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

#pic {
    height: 150px;
    width: 174px;
}

.fa-facebook {
    color: lightgrey;
    margin: 13px;
 }

.fa-facebook:hover {
    color: blue;
    top: 2px;
    transition: 0.3s;
}

.fa-google-plus {
    color: lightgrey;
    margin: 13px;
 }

.fa-google-plus:hover {
    color: darkred;
    top: 2px;
    transition: 0.3s;
}

.fa-facebook-square {
    color: #3b5998;
    margin-left: -55px;
 }

.fa-facebook-square:hover {
    color: midnightblue;
    margin-left: -51px;
    transition: 0.3s;
}

.fa-twitter-square {
    color: #55acee;
    margin-left: -55px;
 }

.fa-twitter-square:hover {
    color: dodgerblue;
    margin-left: -51px;
    transition: 0.3s;
}

.fa-google-plus-square {
    color: #dd4b39;
    margin-left: -55px;
 }

.fa-google-plus-square:hover {
    color: darkred;
    margin-left: -51px;
    transition: 0.3s;
}

.fa-linkedin-square {
    color: #007bb5;
    margin-left: -55px;
 }

.fa-linkedin-square:hover {
    color: darkslateblue;
    margin-left: -51px;
    transition: 0.3s;
}

.fa-reddit-square {
    color: #ff4500;
    margin-left: -55px;
 }

.fa-reddit-square:hover {
    color: red;
    margin-left: -51px;
    transition: 0.3s;
}

.footer {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.84);
  text-align: center;
  display: table-row;
}

#lettershead {
    color: palegreen;
}

#mc_embed_signup{
    background:rgba(0, 0, 0, 0.84);
    clear:left;
    font:14px Helvetica, Arial, sans-serif;
    width:300px;
}





