{% extends 'base.html' %}

{% block title %}About | {% endblock %}

{% block content %}
<article class="col-sm-7 col-sm-offset-1" id="article_content">
    <h3>Welcome!</h3></br>
    <p>
        Life Proficiency is a self-improvement blog which provides you with tips and hacks you can
        directly apply in your life. Some of the articles of this blog are very practical and you can
        apply them the moment you read them, while other ones aim more to help you improve your mentality
        and general philosophy around life.
    </p>

    <p>
        Main topics of this blog are life strategy, motivation and productivity, but other topics, such as
        diet, exercise and waste are also covered in a smaller scale.
    </p>

    <p>
        Sources of inspiration for this blog are books, other blogs, videos, long-hour discussions with people
        interested on self-improvement and of course many experiments, as everything posted on this blog has
        been previously tested in real life by its creator.
    </p>

    <p>
        The blog’s goal is to help you boost your confidence and productivity and give you another perspective
        towards life. If you think that you can do better in life, by creating value for yourself and for others,
        then waste no time… join Life Proficiency and become proficient in life!
    </p>
</article>
{% endblock %}



