<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="https://photos-4.dropbox.com/t/2/AADNXXvHiKuVbnBbCdojn2VyQvHrDeQVvj1K8VH57fzGjg/12/460381046/png/32x32/1/_/1/2/hipsterlogogenerator_1468583638153.png/EJmMxNwDGNkKIAcoBw/z0zmyFT5s3Cw6oKWoerzhvY35AH3dN3OvfZmT7pzfQU?dl=0&size=1280x960&size_mode=3">
        <title>{% block title %}{% endblock %}Life Proficiency | Be proficient in life</title>
    </head>
    <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
        <!-- Loads the path to your static files -->
        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script   src="http://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQ
        zLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function(){
            $(".content-markdown").each(function(){
                var content = $(this).text()
                var markedContent = marked(content)
                $(this).html(markedContent)
            })
            $(".post-detail-item img").each(function(){
                $(this).addClass('img-responsive');
            })
        })

        </script>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <h1 class="lp">Life Proficiency</h1>
                <!-- Header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Items -->
                <div class="collapse navbar-collapse" id="topNavBar">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="">
                            <a href="{% url 'about' %}">About</a>
                        </li>
                        <li class="">
                            <a href="{% url 'contact' %}">Contact</a>
                        </li>
                        <li>
                            <form class="navbar-form" method="get" action="#">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
                                </div>
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}
        <div class="col-sm-7 col-sm-offset-1" id="article_content">

        {% endblock %}
        </div>
    </body>
</html>
