{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Contact | {% endblock %}

{% block content %}
<div class="container">
    <div class="col-sm-12 col-md-7">
        <div class="panel-body">
            <h1 class="col-sm-8">Contact</h1>
            <form class="col-sm-8" role="form" action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}