{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Contact | {% endblock %}

{% block content %}
<div class="col-sm-7 col-sm-offset-1">
    <div class="container">
        <div class="col-sm-12 col-md-7">
            <div class="panel-body">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <h1 class="col-sm-8">Contact Us</h1><br/><br/><br/><br/>
                <div class="col-sm-8">
                    <img src="https://dl.dropbox.com/s/uw0vmy8kz243ump/contactUs.jpeg?dl=0" class="img-responsive">
                </div><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                <div class="col-sm-12">
                    <p>If you have any questions, ideas or anything you would like to share please contact us. We would love to hear from you! You can use the contact form below! </p>
                </div><br/><br/><br/><br/>
                <form class="col-sm-8" role="form" action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}