{% extends 'base.html' %} 

{% block title %}{{ post.title }} | {% endblock %}


{% block content %}

<div class="col-sm-7 col-sm-offset-1" id="article_content">
    <ul>
        <h1> {{ post.title }} </h1>
        <small id="date_category_tag"> {{ post.publish|date }} {% if post.user.get_full_name %}
            by {{ post.user.get_full_name}} {% endif %}</small></br>
        <div style="height: 20px"></div>
        <img src="{{ post.image.url }}" class="img-responsive"/></br>
        <div class="content-markdown post-detail-item"> {{ post.body }} </div>
        <!--
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
        Facebook
        </a>

        <a href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code...%20Come%20build
        %20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20{{ request.build_absolute_uri }}">
        Twitter
        </a>

        <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>Google+</a>

        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}
        &title=Be%20first%20%7C%20Join%20Swift%20for%20Entrepreneurs&summary=Swift%20for%20Entrepreneurs
        %20is%20a%20project-based%20programming%20course%20for%20non-technical%20founders.%20We'll%20learn
        %20how%20to%20build%20iOS%20apps%20from%20scratch%20using%20Apple's%20new%20programming%20language:%
        20Swift.%20Be%20first%20and%20learn%20with%20me!&source={{ request.build_absolute_uri }}">
        Linkedin
        </a>

        <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title=Unlock%20to%20Learn
        %20Swift%20for%20Free!%20By%20Swift%20for%20Entrepreneurs.%20Made%20for%20Non%20Techincals.">Reddit</a>
        -->
        <div style="height: 50px"></div>
        <li id="date_category_tag">Category: {{ post.category }}</li></br>

        <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count"
             data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
        <p>
        <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
        </p>
    </ul>
</div>
{% endblock %}


